.container {
  margin-top: 2rem !important;

  .content {
      margin-bottom: 2rem;
      h1,h2,h3,h4,h5,h6 {
        margin-right: 0.7rem;
        font-family: -apple-system, BlinkMacSystemFont,'Google Sans', 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    

    ol,
    ul li:last-child {
      margin-bottom: 1rem;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      font-stretch: 100%;
      font-feature-settings: "kern" 1;
      font-kerning: normal;
      line-height: 28px;
    
      //letter-spacing: 0.02em;
      color: #4a4a4a;
      
      font-family:-apple-system,BlinkMacSystemFont,'segoe ui','Roboto','Helvetica Neue','Nunito',sans-serif, serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      word-break: keep-all;
      margin-bottom: 0%;
      margin-left: 0%;
      margin-right: 0%;
      margin-top: 0%;
      padding: 0,0,0,0;
    
    }












  }
}

// resolve conflicts between bulma css preset and prismjs
pre[class*='language-'] .tag,
pre[class*='language-'] .number {
  align-items: stretch;
  background-color:blue;
  border-radius: 0;
  display: inline;
  font-size: 10px;
  justify-content: flex-start;
  line-height: normal;
  padding: 0;
  white-space: pre;
  margin-right: 0;
  min-width: auto;
  text-align: left;
  vertical-align: baseline;
}

:not(pre) > code[class*='language-'] {
  background:rgba(27, 31, 35, 0.05) ;
  color: #ff3860;
}

// embed tweet styling   background: rgba(27, 31, 35, 0.05);
.twitter-tweet-rendered {
  margin: 0 auto;
}

