.container {
  margin-top: 2rem !important;

  .content {
      margin-bottom: 2rem;
      h1,h2,h3,h4,h5,h6 {
        margin-right: 0.7rem;
        font-family: -apple-system, BlinkMacSystemFont,'Google Sans', 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    

    ol,
    ul li:last-child {
      margin-bottom: 1rem;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      font-stretch: 100%;
      font-feature-settings: "kern" 1;
      font-kerning: normal;
      line-height: 29px;
    
      letter-spacing: 0.02em;
      //color: #363636;
      color: #2e444e;
      
      font-family:-apple-system,BlinkMacSystemFont,'segoe ui', 'Source Sans Pro','Nunito','Roboto','Helvetica Neue',sans-serif, serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      word-break: keep-all;
      margin-bottom: 0%;
      margin-left: 0%;
      margin-right: 0%;
      margin-top: 0%;
      padding: 0,0,0,0;

      display: block;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    
    }
  }
}

// resolve conflicts between bulma css preset and prismjs
pre[class*='language-'] .tag,
pre[class*='language-'] .number {
  align-items: stretch;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:blue;
  border-radius: 0;
  display: inline;
  font-size: 8px;
  justify-content: flex-start;
  line-height: normal;
  padding: 0;
  white-space: pre;
  margin-right: 0;
  min-width: auto;
  text-align: left;
  vertical-align: baseline;
}


:not(pre) > code[class*='language-'] {
  background:rgba(27, 31, 35, 0.05) ;
  color: #ff3860;
}

// embed tweet styling   background: rgba(27, 31, 35, 0.05);
.twitter-tweet-rendered {
  margin: 0 auto;
}

.cd-top.cd-top--show { 
  /* the button becomes visible */ 
  visibility: visible;
  opacity: 1;
 } 
 
 .cd-top.cd-top--fade-out { 
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */ 
  opacity: .5; 
 }