@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import '~prismjs/themes/prism-coy.css';
@import "~bulma";
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//@import '~prismjs/customthemes/prism-xonokai.css';

html {
  background-color: #fdfdfd;
}



h1,h2,h3,h4,h5,h6 {
  margin-right: 0.7rem;
  font-family: -apple-system, BlinkMacSystemFont,'Google Sans', 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.message-body{
  font-family:-apple-system,BlinkMacSystemFont,'segoe ui','Roboto','Helvetica Neue';
  font-size: 15px;
  font-weight: 400;
  font-stretch: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  

  letter-spacing: 0.02em;
  color: #2e444e;
  line-height: 20px;
  word-break: keep-all;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  padding: 0,0,0,0;
}

a {
  color: hsl(217, 71%, 53%);
}


footer {
  margin-top: 25rem;
}

// ont-color #212121