//@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css'); 3273dc


html {
  background-color: #fdfdfd;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Google Sans';
}



// 25px, 17px font size, roboto
p {
  font-size: 18px;
  font-weight: 400;
  font-stretch: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  

  //letter-spacing: 0.02em;
  color: #212121;
  line-height: 33px;
  font-family:-apple-system,BlinkMacSystemFont,'segoe ui','Roboto','Helvetica Neue','Nunito',sans-serif, serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  word-break: keep-all;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  padding: 0,0,0,0;

}

p.projects{
  font-family:-apple-system,BlinkMacSystemFont,'segoe ui','Roboto','Helvetica Neue';
  font-size: 16px;
  font-weight: 400;
  font-stretch: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  

  letter-spacing: 0.02em;
  color: #212121;
  line-height: 24px;
  word-break: keep-all;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  padding: 0,0,0,0;
}

a {
  color: hsl(217, 71%, 53%);
}


footer {
  margin-top: 25rem;
}

